@import "tailwindcss";

@theme {
  --font-sans: var(--font-sans);

  --color-background: #ffffff;
  --color-foreground: #171717;

  --color-muted: #f5f5f5;
  --color-muted-foreground: #737373;

  --color-card: #ffffff;
  --color-card-foreground: #171717;

  --color-border: #e5e5e5;
  --color-input: #e5e5e5;

  --color-primary: #171717;
  --color-primary-foreground: #fafafa;

  --color-secondary: #f5f5f5;
  --color-secondary-foreground: #171717;

  --color-accent: #f5f5f5;
  --color-accent-foreground: #171717;

  --color-destructive: #ef4444;
  --color-destructive-foreground: #fafafa;

  --color-ring: #171717;
}

/* Custom utilities */
@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  max-width: 1400px;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}

@keyframes accordion-down {
  from {
    height: 0
  }

  to {
    height: var(--radix-accordion-content-height)
  }
}

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height)
  }

  to {
    height: 0
  }
}

@utility animate-accordion-down {
  animation: accordion-down 0.2s ease-out;
}

@utility animate-accordion-up {
  animation: accordion-up 0.2s ease-out;
}